* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1350&q=80");
    text-align: center;

}

h1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 255px;
    color: white;
    
}

h3 {
    display: flex;
    color: white;
    justify-content: center;
    font-weight: 250;
    margin-top: 300px;
}

.btn {
    background-color: #ff4c4c;
    font-size: 1rem;
    padding: 10px;
    border: solid #ff4c4c 1px;
    color: white;
    font-weight: 200;
    border-radius: 5px;
    display: inline-block;
    
    
    text-align: center;
    
}

.btn:hover {
    background-color: #e04343;
    display: flex;
}
