.div {
    height: 500px;
    width: 500px;
    background-image: url('https://images.unsplash.com/photo-1762998577858-ceb61c5d4974?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8');
}