* {
    margin: 0;
    padding: 0;
}
/* header */
.navbar {
    height: 60px;
    background-color: black;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 200px;
    display: inline-block;
}

.logo {
    color: orange;
    font-size: 25px;
}

button {
    background-color: #f08804;
    color: white;
    border: orange;
    height: 20px;
    width: 50px;
    border-radius: 5px;
    transition:  background-color 0.5s ease;;
    
}

button:hover {
    background-color: #e00d0d;
    color: white;
   
}

input {
    border-color: orange;
    padding:7px 7px 7px 7px ;
}

/* content boxes */

.content {
    height: 500px;
    display: inline-block;

}

.box {
    height: 100px;
    width: 100px;
    border: solid black 1px;
    margin: 20px 20px 20px 20px;
    padding-left: 10px;
   
}

footer {
    background-color: black;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
