* {
    padding: 0;
    margin: 0;
}

.navbar {
    height: 60px;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 200px;
    display: inline;
}

.logo {
    color: orange;
    font-size: 25px;
}

button {
    background-color: #f08804;
    color: white;
    border: orange;
    height: 20px;
    width: 50px;
    border-radius: 5px;
    transition:  background-color 0.5s ease;;
    
}

button:hover {
    background-color: #e00d0d;
    color: white;
   
}

input {
    border-color: orange;
    padding:7px 7px 7px 7px ;
}