div {
    height: 100px;
    width: 100px;
    background-color: red;
}

@media (max-width : 800px) {
    div {
        background-color: green;
    }
}

@media (min-width : 300px) and (max-width : 600px) {
    div {
        background-color: blue;
    }
}                                                                                                                                                   