body {
    text-align: center;
}

div {
    height: 50px;
    width: 150px;
    display: inline-block;
    border: 2px solid black;
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: center;
    align-items: center; */
    
}

.box1 {
    background-color: aqua;
}

.box2 {
    background-color: pink;
    height: 200px;
    flex-grow: 2;
}

.box3 {
    background-color: darkcyan;
    height: 75px;
}

.box4 {
    background-color: burlywood;
}

.box5 {
    background-color: greenyellow;
 }