#box {
    background-color: blue;
}

.heading {
    color: red;
}

.paragraph {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.this {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
}